@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url(./img/background\ moba3.png);
  color: #ffffff;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 66%;
  margin: 40px auto;
  padding: 20px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.0);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.329);
  border-radius: 10px;
}

.section-title {
  color: #fefeff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.profile {
  
  display: flex;
  align-items: center;
}

.profile img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  margin: 5px;
  border: 3px solid #444;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile img {
  animation: girar 6s linear infinite; /* Tempo de 3s, rotação suave e infinita */
}

.profile-info {
  font-size: 18px;
  color: #ffffff;
}

.profile-info p {
  margin: 5px 0;
}

.hobbies {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.hobby {
  background: #d40000;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
  display: flex;
  font-style: italic;
  color: #006837;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
  gap: 10px;
}
footer a img {
  width: 40px;
  height: 40px;
}

footer a {
  transition: transform 0.3s;
}
footer a:hover {
  transform: translateY(-10px);
}
.botao-trabalhos {
  width: 100%;
  display: flex;
  justify-content: end;
}
.botao-trabalhos span {
 display: flex;
  justify-content: center;
  align-items: center;
}
.trabalhos {
  display: inline-block;
  background-color: #0e26ff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.trabalhos img {
  width: 20px;
  height: 20px;
  padding: 4px;
}
.trabalhos a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
}
.trabalhos:hover {
  background-color: #2256ff;
}

@media (min-width: 380px) and (max-width: 1142px) {
  .container {
    max-width: 80%;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.0);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.329);
  }
  div p {
    font-size: 13px;
  }

  .section-title {
    font-size: 18px;
  }

  .profile-info {
    font-size: 12px;
  }

  .profile img {
    width: 70px;
    height: 70px;
  }

  .hobby {
    font-size: 10px;
    padding: 6px 12px;
  }

  footer a img {
    width: 25px;
    height: 25px;
  }
  .botao-trabalhos {
    margin-top: 1rem;
  }
  .trabalhos{
    width: 100%;
    font-size: 12px;
    padding: 6px 12px;
  }
}