.section-job {
  padding: 40px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;


    backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.0);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.329);
  border-radius: 10px;

  -webkit-animation:scale-up-center .4s cubic-bezier(.39,.575,.565,1.000) both;animation:scale-up-center .4s cubic-bezier(.39,.575,.565,1.000) both

}

.section-title {
  color: #0e26ff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.section-description {
  color: #fcfcfcdc;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 20px;
}

.swiper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.swiper-slide{
  width: 100%;
  margin-top: 8rem;
  padding: 10px;
}
.card {
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
  flex-shrink: 0;
  width: 200px;
  height: 200px;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  border-radius: 8px;
  width: 100%;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0;
}

/*.card-icon {
  background-color: #0e26ff;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto 10px;
  padding: 1px;
}*/


/* SWIPER CONFIG */
.swiper {
  align-self: center;
  width: 100%;
  padding: 40px 0;
}

.swiper-slide {
  align-self: center;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

@media (min-width: 390px) and (max-width: 767px) { 
  
  .swiper-slide {
    align-self: center;
    width: 50%;
  }
  .card {
    margin-left: 4rem;
  }
.header {
  display: none;
}
}

@media (min-width: 768px) and (max-width: 1024px) { 



  .swiper-slide {
    align-self: center;
    width: 50%;
  }
}

@media (min-width: 1025px) { 
 

  .swiper-slide {
    align-self: center;
    width: 33.33%;
  }
}
